<h1 class="title">お気に入り</h1>
<table>
  <tr>
    <th>title</th>
    <th>content</th>
  </tr>
  <% @favorites.each do |favorite| %>
  <tr>
    <td><%= favorite.session_login.user.name %></td>
    <td><%= favorite.session_login.content %></td>
    </tr>
  <% end %>
</table>
<div><%= link_to "投稿一覧へ", session_logins_path %></div>
